<h1>Hello</h1>

<p><%= @message %> </p>

<form method="post" action="/queue">
  <input type="submit" name="queue" value="groupone">
</form>

<form method="post" action="/queue">
  <input type="submit" name="queue" value="grouptwo">
</form>