<h1>Hello</h1>

<p><%= @message %> </p>

<form method="post">
  <input type="submit" name="queue" value="Queue1">
</form>

<form method="post">
  <input type="submit" name="queue" value="Queue2">
</form>